:root{
    --board-width: 900px;
    --board-height: 600px;

    --card-field-width: calc((var(--board-width) / 100) * 98);
    --card-field-height: calc((var(--board-height) / 100) * 98);
    
    --card-width: calc(((var(--board-width) - 10px) - (calc(var(--board-height) - var(--card-field-heigth)))) / 6);
    --card-height: calc(((var(--board-height) - 10px) - (calc(var(--board-height) - var(--card-field-height)))) / 4);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(74, 74, 255);
}

.card_inner img{
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

#board{
    
    background-color: rgb(61, 165, 197);
    width: var(--board-width);
    height: var(--board-height);
    
}

#cards{
    width: var(--card-field-width);
    height: var(--card-field-heigth);
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
}

.card{
    
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    width: var(--card-width);
    height: var(--card-height);
    font-family: sans-serif;
    font-size: 5em;
    text-align: center;
    overflow: visible;
}

.card_inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;

}

.front,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    
}

.front{
    background-color: blue;
}

.back{
    background-color: black;
    color: azure;
    transform: rotateY(180deg);
}

.card_inner.rot{
    transform: rotateY(180deg);
}

h1{
    margin: 1px 50px 1px 2px;
}

#top{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(8, 20, 128);
    width: var(--card-field-width);
    margin: 2px 1%;
    font-family: sans-serif;
    text-align: center;
    background-color: blue;
}

.topLabel{
    border:1px solid rgb(8, 20, 128);
    height: calc(100% - 4px);
    margin: 1px;
    font-size: 1.5em;
    width: 120px;
}

#trysCount,
#matchesCount{
    border: 1px solid rgb(8, 20, 128);
    color:rgb(119, 133, 255);
    width: 120px;
    font-size: 25px;
    font-weight: bold;
    margin: 1px;
}

#matches,
#trys{
    display: flex;
    flex-direction: row;
    padding: 0 auto;
    
}